openai
python-dotenv
pinecone-client
numpy
snowflake-connector-python
langchain
tiktoken
PyPDF2
boto3
streamlit
pytube
ffmpeg-python
scrapy
ipython
selenium
webscraping
scrapy-selenium
validators
pydantic 
pandas
snowflake-sqlalchemy
SQLAlchemy
fastapi
uvicorn
kafka_python-2.0.3.dev0-py2.py3-none-any.whl
streamlit-google-auth
bs4
requests
